section.App {
    /* background-color: grey; */
    margin: auto;
    width: 50%;
    height: fit-content;
}

.Header {
    margin: auto;
    display: block;
    border: 2px solid rgb(153, 255, 0);
    min-width: 50vw;
}

.Header div {
    display: inline-block;
}


.Content {
    height: 85vh;
    border: 2px solid rgb(0, 110, 255);
    display: flex;
    justify-content: center;
    min-width: 50vw;
}


.postsContainer {
    width: inherit;
    height: inherit;
    display: block;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    overflow: auto;
    scroll-snap-type: y mandatory;
    min-height: 700px;
    
}

.postsContainer::-webkit-scrollbar {
    display: none;
}

.post {
    min-width: fit-content;
    min-height: fit-content;
    scroll-snap-align: start;
    margin-top: 5vh;

    /* design */
    /* border: 2px solid grey !important;
    border-radius: 20px !important; */
}

.activityPost {
    width: 345px;
    max-width: 345px
}

.minion {
    margin: auto;
    width: 20vw;
    display: flex;
}

.Logo {
    margin: 10px;
    
}

.logoImage {
    width: 150px;
    height: 30px;
}

.Saved {
    float: right;
    margin: 15px;
    width: fit-content;
}

.gifImage {
    margin-left: 30px;
    margin-top: 30px;
}

.Shared {
    margin: 15px;
    float: right;
}

.greetings {
    margin: 50px;
    font-size: 30px;
}

.joke {
    margin: 50px;
}


.jokeTitle {
    border-bottom: 2px solid grey;
    margin: 0px;
    padding: 10px 0px 10px 20px;
}

.jokeText {
    margin: 0px;
    height: 200px;
    padding: 50px 50px 0px 50px;
}

.jokeButtons {
    float: right;
}

.jokeButtonsDiv {
    height: 50px;
}