section.App {
    /* background-color: grey; */
    margin: auto;
    width: 50%;
    height: fit-content;
}

.Header {
    margin: auto;
    display: block;
    border: 2px solid rgb(153, 255, 0);
       
}

.Header div {
    display: inline-block;
}


.Content {
    margin: auto;
    height: 750px;
    border: 2px solid rgb(0, 110, 255);

}

.ChuckNorris {
    width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}

.Logo {
    margin: 10px;
    
}

.logoImage {
    width: 150px;
    height: 30px;
}

.Saved {
    float: right;
    margin: 15px;
    width: fit-content;
}

.gifImage {
    margin-left: 30px;
}

.Shared {
    margin: 15px;
    float: right;
}

.greetings {
    margin: 50px;
    font-size: 30px;
}

.joke {
    margin: 50px;
}

.jokeContainer {
    border: 2px solid grey;
    border-radius: 20px;
}

.jokeTitle {
    border-bottom: 2px solid grey;
    margin: 0px;
    padding: 10px 0px 10px 20px;
}

.jokeText {
    margin: 0px;
    height: 200px;
    padding: 50px 50px 0px 50px;
}

.jokeButtons {
    float: right;
}

.jokeButtonsDiv {
    height: 50px;
}